@use '../../styles/scss/media' as *;
@use '../../styles/scss/mixin' as *;
@use '../../styles/scss/variables' as *;

.sectionHeader {
  display: flex;
  align-items: end;
  column-gap: 24px;
  font-size: 1rem;
  padding-bottom: 24px;
  min-height: 340px;
  position: relative;
  color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  @include containerPadding;
  @include tablet {
    min-height: 280px;
  }

  @include mobile {
    min-height: 200px;
    padding: 0 16px 12px 16px;
    column-gap: 12px;
  }

  .albumImg {
    z-index: 1;
    height: 232px;
    width: 232px;

    @include tablet {
      height: 172px;
      width: 172px;
    }

    @include mobile {
      height: 102px;
      width: 102px;
    }

    @include break(450px) {
      height: 80px;
      width: 80px;
    }

    img {
      height: 232px;
      width: 232px;
      box-shadow: 0 4px 60px rgba(0, 0, 0, .5);
      object-fit: cover;

      @include tablet {
        height: 172px;
        width: 172px;
      }

      @include mobile {
        height: 102px;
        width: 102px;
        box-shadow: 0 2px 30px rgba(0, 0, 0, .2);
      }

      @include break(450px) {
        height: 80px;
        width: 80px;
      }


      &.artistImg {
        border-radius: 50%;
      }
    }
  }

  .aboutAlbum {
    z-index: 1;

    .albumType {
      text-transform: capitalize;
      font-weight: 700;
    }

    .albumName {
      margin: 0.08em 0px 0.12em;
      font-size: 3rem;
      line-height: 3rem;

      @include mobile {
        font-size: 2.5rem;
        line-height: 2.5rem;
      }
    }

    .followers {
      font-size: 0.875rem;
    }

    .headerDetails {
      display: flex;
      align-items: center;
      font-size: 0.875rem;

      @include break (450px) {
        font-size: 0.75rem;
      }
      .artistName {
        font-weight: 700;

        &:hover {
          text-decoration: underline;
        }
      }

      .artistImg {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        margin-right: 8px;
        object-fit: cover;

        @include break (450px) {
          margin-right: 2px;
        }
      }

      span {
        &::before {
          content: "•";
          margin: 0px 4px;
        }
      }

      .duration {
        color: hsla(0, 0%, 100%, .7);
      }
    }
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(transparent 0, rgba(0, 0, 0, .5));
  }
}

.trackHeader {
  padding: 24px 0;
  display: flex;
  align-items: center;
  column-gap: 20px;
  position: absolute;
  @include containerPadding;


  .followBtn {
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .1em;
    background-color: transparent;
    border: 1px solid hsla(0, 0%, 100%, .3);
    color: white;
    font-size: 12px;
    border-radius: 4px;

    div {
      padding: 7px 15px;
      
      @include mobile {
        padding: 5px 12px;
        font-size: 10px;
      }

    }

    &:hover {
      border-color: #fff;
    }

  }

  .startAlbum {
    border-radius: 50%;
    background-color: #1ed760;

    &:hover {
      background-color: #1fdf64;
      transform: scale(1.05);
    }

    button {
      cursor: pointer;
      padding: 18px;
      transform: rotate(90deg);
      font-size: 1.3rem;

      @include tablet {
        padding: 14px;
      }
    }
  }

  .albumFavorite button {
    cursor: pointer;
    font-size: 2.5rem;
    color: hsla(0, 0%, 100%, .7);

    &.saved {
      color: #1ed760 !important;
    }

    .headrtIcons {
      display: flex;
    }

    &:hover {
      color: #fff;
    }
  }

  .startAlbum button,
  .albumFavorite button {
    border: none;
    display: flex;
    background-color: transparent;
  }
}

.albumTrack {
  position: relative;

  .albumTrackHeader {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 232px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(rgba(0, 0, 0, 0.6) 0, #121212 100%);
    }
  }
}


.trackArtistContainer {
  display: flex;
  justify-content: end;

  @include break(1650px) {
    justify-content: start;
  }

  .trackArtist {
    display: flex;
    align-items: center;
    column-gap: 16px;
    width: 400px;
    margin-right: 200px;
    text-transform: capitalize;
    color: white;
    font-weight: 700;
    font-size: 0.875rem;
    padding: 8px;
    border-radius: 4px;
    margin-top: 100px;

    @include break(1650px) {
      @include containerPadding;
      margin-top: 100px;
      margin-bottom: 35px;
    }

    @include tablet {
      margin-top: 80px;
    }

    .trackArtistName {
      &:hover {
        text-decoration: underline;
      }
    }

    &:hover {
      background-color: hsla(0, 0%, 100%, .1);
    }

    img {
      box-shadow: 0 4px 60px rgba(0, 0, 0, .5);
      width: 80px;
      height: 80px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}