$font-family: "Montserrat", sans-serif;
$body-bg: #121212;
$mobile-width: 600px;
$tablet-width: 1024px;

$paddingLeft: 240px;
$contentSpacing: 32px;
$paddingContainer: 32px;
$mainPage-borderRadius: 8px;